<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="static/landing.js"> </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class>
    <header>
        <h1>Cultivated Meat Dashboard</h1>
    </header>
    <section id="diagram">
        <div id="diagram-select">
            <h6>Bioreactor Type</h4>
            <select id="bioreactorType" onchange=selectBioreactor()>
                <option value="40K_STR">42K STR</option>
                <option value="210K_STR">211K STR</option>
                <option value="260K_ALR" selected>262K ALR</option>
            </select>
        </div>
        <div id="diagram-image">
            <h4 id="bioreactorLabel"></h4>
            <img src="" alt="Flow Diagram" id="flowDiagram" class="img-fluid border">
        </div>
    </section>
    <section id="calculator">
        <div id="main-content">
            <div id="inputs">
                <div id="parameters">
                    <div class="parameter">
                        <div class="parameter-label">
                            <h6>Media Cost ($/L)</h6>
                        </div>
                        <div class="parameter-value">
                            <input type="number" value="1" id="mediaCost">
                        </div>
                    </div>
                    <div class="parameter">
                        <div class="parameter-label">
                            <h6>Change in Labor Cost (%)</h6>
                        </div>
                        <div class="parameter-value">
                        <input type="number" value="0" id="laborCost">
                        </div>
                    </div>
                    <div class="parameter">
                        <div class="parameter-label">
                        <h6>Cost of Electricity ($/kW-h)</h6>
                        </div>
                        <div class="parameter-value">
                        <input type="number" value="0.1" id="powerCost">
                        </div>
                    </div>
                    <div class="parameter">
                        <div class="parameter-label">
                        <h6>Cost of Steam ($/MT)</h6>
                        </div>
                        <div class="parameter-value">
                        <input type="number" value="12" id="steamCost">
                        </div>
                    </div>
                    <div class="parameter">
                        <div class="parameter-label">
                        <h6>Cost of Cooling Water ($/MT)</h6>
                        </div>
                        <div class="parameter-value">
                        <input type="number" value="0.05" id="coolingWaterCost">
                        </div>
                    </div>
                    <div class="parameter">
                        <div class="parameter-label">
                        <h6>Cost of Chilled Water ($/MT)</h6>
                        </div>
                        <div class="parameter-value">
                        <input type="number" value="0.4" id="chilledWaterCost">
                        </div>
                    </div>
                </div>
                <div id="parameter-dropdown">
                </div>
                <div id="parameter-update">
                    <button onclick="displayOutputs()">Update</button>
                </div>
            </div>
            <div id="outputs">
                <div id="output-title">
                    <h2>Expense Breakdown</h2>
                </div>
                <div id="expense-breakdown">
                    <div id="chart-container" style="max-width: 50%">
                        <canvas id="expensesChart"></canvas>
                    </div>
                    <div id="expense-list">
                        <div class="expense-category">
                            <div class="expense-label">
                                <h6>Annual Production</h6>
                            </div>
                            <div class="expense-value">
                                <span id="annualProduction"></span> kg/yr
                            </div>
                        </div>
                        <div class="expense-category">
                            <div class="expense-label">
                                <h6>Capital Expenses</h6>
                            </div>
                            <div class="expense-value">
                                <span id="capitalExpenses"></span> million USD
                            </div>
                        </div>
                        <div class="expense-category">
                            <div class="expense-label">
                                <h6>Operating Expenses</h6>
                            </div>
                            <div class="expense-value">
                                <span id="operatingExpenses"></span> million USD/yr
                            </div>
                        </div>
                        <div class="expense-category">
                            <div class="expense-label">
                                <h6>COGS (with Depreciation)</h6>
                            </div>
                            <div class="expense-value">
                                <span id="cogsWithDepreciation"></span> USD/kg
                            </div>
                        </div>
                        <div class="expense-category">
                            <div class="expense-label">
                                <h6>COGS (without Depreciation)</h6>
                            </div>
                            <div class="expense-value">
                                <span id="cogsWithoutDepreciation"></span> USD/kg
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>

</html>