<!DOCTYPE html>
<html lang="en-US">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="static/landing.js"> </script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body class="mx-5">
    <header>
        <h1>Cultivated Meat Dashboard</h1>
    </header>
    <section id="diagram">
        <div id="diagram-select">
            <select class="form-select" id="bioreactorType" onchange=selectBioreactor()>
              <!-- <option selected>Select a bioreactor</option> -->
                <option value="40K_STR">42K STR</option>
                <option value="210K_STR">211K STR</option>
                <option selected value="260K_ALR">262K ALR</option>
            </select>
        </div>
        <div id="diagram-image">
            <h4 id="bioreactorLabel"></h4>
            <img src="" alt="Flow Diagram" id="flowDiagram" class="img-fluid border">
        </div>
    </section>
    <section id="calculator">
        <div id="main-content">
            <div id="inputs">
                <div id="parameters">
                    <div class="parameter mb-3">
                        <label for="mediaCost" class="form-label"><strong>Media Cost</strong></label>
                        <div class="input-group">
                          <span class="input-group-text">$</span>
                          <input type="number" class="form-control" value="1" id="mediaCost">
                              <span class="input-group-text"> / L</span>
                        </div>
                    </div>
                    <div class="parameter mb-3">
                        <label for="laborCost" class="form-label"><strong>Change in Labor Cost</strong></label>
                        <div class="parameter-value input-group">
                          <input type="number" class="form-control" placeholder="Enter change in labor cost" value="0" id="laborCost">
                          <span class="input-group-text">%</span>
                        </div>
                        <div class="form-text">Labor cost as a percent difference from base labor cost of bioreactor.</div>
                    </div>
                    <div class="parameter mb-3">
                        <label for="electricityCost" class="form-label"><strong>Electricity Cost</strong></label>
                        <div class="input-group">
                          <span class="input-group-text">$</span>
                          <input type="number" class="form-control" value="0.1" step="0.1" id="electricityCost">
                              <span class="input-group-text"> / kW-h</span>
                        </div>
                    </div>
                    <div class="parameter mb-3">
                        <label for="steamCost" class="form-label"><strong>Steam Cost</strong></label>
                        <div class="input-group">
                          <span class="input-group-text">$</span>
                          <input type="number" class="form-control" value="10" id="steamCost">
                              <span class="input-group-text"> / MT</span>
                        </div>
                    </div>
                    <div class="parameter mb-3">
                        <label for="coolingWaterCost" class="form-label"><strong>Cost of Cooling Water</strong></label>
                        <div class="input-group">
                          <span class="input-group-text">$</span>
                          <input type="number" class="form-control" value="0.05" step="0.05" id="coolingWaterCost">
                              <span class="input-group-text"> / MT</span>
                        </div>
                    </div>
                    <div class="parameter mb-3">
                        <label for="chilledWaterCost" class="form-label"><strong>Cost of Chilled Water</strong></label>
                        <div class="input-group">
                          <span class="input-group-text">$</span>
                          <input type="number" class="form-control" value="0.5" step="0.1" id="chilledWaterCost">
                              <span class="input-group-text"> / MT</span>
                        </div>
                    </div>
                </div>
                <div id="parameter-dropdown">
                </div>
                <div id="parameter-update">
                    <button type="submit" class="btn btn-primary" onclick="displayOutputs()">Update</button>
                </div>
            </div>
            <div id="outputs">
                <div id="output-title">
                    <h2>Expense Breakdown</h2>
                </div>
                <div id="expense-breakdown">
                    <div id="chart-container" style="max-width: 50%">
                        <canvas id="expensesChart"></canvas>
                    </div>
                    <div id="expense-list">
                        <div class="expense-category">
                            <div class="expense-label">
                                <h6>Annual Production</h6>
                            </div>
                            <div class="expense-value">
                                <span id="annualProduction"></span> kg/yr
                            </div>
                        </div>
                        <div class="expense-category">
                            <div class="expense-label">
                                <h6>Capital Expenses</h6>
                            </div>
                            <div class="expense-value">
                                <span id="capitalExpenses"></span> million USD
                            </div>
                        </div>
                        <div class="expense-category">
                            <div class="expense-label">
                                <h6>Operating Expenses</h6>
                            </div>
                            <div class="expense-value">
                                <span id="operatingExpenses"></span> million USD/yr
                            </div>
                        </div>
                        <div class="expense-category">
                            <div class="expense-label">
                                <h6>COGS (with Depreciation)</h6>
                            </div>
                            <div class="expense-value">
                                <span id="cogsWithDepreciation"></span> USD/kg
                            </div>
                        </div>
                        <div class="expense-category">
                            <div class="expense-label">
                                <h6>COGS (without Depreciation)</h6>
                            </div>
                            <div class="expense-value">
                                <span id="cogsWithoutDepreciation"></span> USD/kg
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>

</html>